/*GRID*/
.half-separation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-4-1 {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

/*FLEX*/
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  border-radius: var(--border-radius);
}

.flex-row label {
  min-width: fit-content;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-24 {
  gap: 24px;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

/*SIZES*/

.img-width-20 {
  width: 20px;
}

.img-pointer {
  width: 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .half-separation {
    grid-template-columns: none;
  }
}
